[Unit]
Description=The IDB sidekiq service
After=syslog.target network.target remote-fs.target

[Service]
Type=simple
WorkingDirectory=/opt/the-idb/
Environment="PATH=/opt/the-idb/vendor/ruby-2.2.4/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin" "GEM_PATH=/opt/the-idb/vendor/bundle/ruby/2.2.0/gems" "RAILS_ENV=production"
ExecStart=/opt/the-idb/vendor/ruby-2.2.4/bin/bundle exec sidekiq -L log/sidekiq.log
User=idb
Group=idb

[Install]
WantedBy=multi-user.target
